@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, p, label{
    font-size: calc(0.3em + 1vw);
}

header{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    position: relative;
    padding: 1.5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}
.logoAlura{
    max-width: 60%;
    max-height: 60%;
    height: auto;
    width: auto;
    position: absolute;
    left: 0;
}
.title_header{
   margin: 0 auto;
}
@media(max-width: 500px){
    header{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10%;
        padding: 1.5%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        
    }
    .logoAlura{
        width: 5em;
        position: static;
        margin-bottom: 10px;
        text-align: center;
    }
    
}
main{
    display: flex;
    background-color: #F3F5FC;
}
.leftPane{
    flex: 0 0 60%;
    width: 60%;
    font-family: 'Inter', sans-serif;
    color: #0A3871;
    margin-left: 2em;
    
}
.form{
    height: 30em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 1em;
    
}
.textArea_form{
    font-size: calc(0.3em + 1vw);
    font-family: 'Inter', sans-serif;
    color: #000000;
    height: 100%;
    max-width: 80%;
    padding: 1em;
    resize: none;
    border: 2px solid #AAB2D5; 
    border-radius: 8px; 
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}
.textArea_form:focus{
    border-color: #9490d6; /* Color del borde al enfocar */
    box-shadow: 0 2px 8px rgba(0, 123, 255, 0.2);
}
.avisoText{
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
    font-size: calc(0.02em + 1vw);
}
.avisoText img.aviso{
    margin-right: 0.5em;
    width: 1em;
    
}
.buttons_encryption{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 5%;
    padding: 1em;
}
.buttons_encryption button{
    font-family: 'Inter', sans-serif;
    font-size: calc(0.1em + 1vw);
    border: none; 
    border-radius: 8px; 
    padding: 1em 1em; 
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
}
.btnEncriptar{
    background-color: #0A3871;
    color: #FFFFFF;
}
.btnEncriptar:hover{
    background-color: #144c8f;
}
.btnDesencriptar{
    background-color: #D8DFE8;
}
.btnDesencriptar:hover{
    background-color: #bbc0c6;
}
.rightPane{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    flex: content;
    margin: 3em;
    
}
.woman{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain; 
}
