@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    position: relative;
    padding: 1em;
    
}
.logoAlura{
    width: 5em;
    position: absolute;
    left: 0;
}
.title_header{
   margin: 0 auto;
}
@media(max-width: 500px){
    header{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 1em;
    }
    .logoAlura{
        width: 5em;
        position: static;
        margin-bottom: 10px;
        text-align: center;
    }
    
}
main{
    display: flex;
    align-items: center;
}
.form{
    font-family: 'Inter', sans-serif;
    color: #0A3871;
    height: 35em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-left: 2em;
    
}
.textArea_form{
    font-family: 'Inter', sans-serif;
    color: #0A3871;
    height: 80%;
}