@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    height: 5em;
    
}
.logoAlura{
    width: 5em;
}
